.dragover {
    background-color: #efefef;
}

#debug {
    position: relative;
}

a.toggle {
    display: inline-block;
    transform: rotate(-90deg);
    margin: 0;
    padding: 0.25rem 0.5rem;
    position: absolute;
    top: 3rem;
    background: #eee;
    color: black;
    text-align: right;
    text-decoration: none;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    font-size: 0.875rem;
    font-weight: 700;
}

#debug.open a.toggle {
    left: -0.5rem;
}

#debug.close a.toggle {
    right: -1rem;
}

#debug.close pre {
    display: none;
}